.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .navbar a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
  }